main {
    background-color: rgb(234, 234, 234);
    height: 100%;
    border-radius: 10px;
}

header img {
    width: 40px;
}

.logoText {
    color: rgb(255, 255, 255);
    font-size: 27px;
    padding: 0px 15px;
}

.header1 {
    display:flex;
    justify-content:left;
    padding: 20px 30px;
    align-items: center;
    background-color: rgb(54, 71, 71);
    width: 100%;
    height: 30px;
}

.header3 {
    display:flex;
    align-items: center;
    padding: 10px 30px;
    color: rgb(252, 252, 252);
    text-decoration: none;
}

.hed{
    padding: 10px 30px;

}

.hed > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 22px;
}

.number {
    justify-content: right;
    padding: 0px 200px;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

.button {
    display: flex;
    justify-content: left;
    
}
.header2 {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    box-shadow: 8px 5px 5px 2px rgb(0, 0, 255, .2);
}
.button1 > a{
    color: rgb(54, 71, 71);
    font-size: 22px;
    text-decoration: none;
}
.line {
    width: 0px;
    height: 23px;
    align-items: center;
    border: rgb(135, 135, 135) solid 1px;
    margin: 2px 20px;
}

header input {
    width: 250%;
    border-radius: 10px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}

.buttonSearch {
    padding: 0px 50px;
    margin: 10px;
}

.icon {
    display: flex;
    justify-content: right;
    position: absolute;
    right: 0;
    padding: 0px 50px;
    align-items: center;
}
.icon1 {
    padding: 0px 20px;
    font-size: 32px;
    color: black;
    align-items: center;
    
}
.textIcon  {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/* .container-card2 {
    margin-top: 3%;
    display: flex;
    gap: 20px;
    justify-content: center;
} */

.card {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    padding: 8px 8px;
}

.card > a{
    text-decoration: none;
    color: black;
}

.catalog > a{
    text-decoration: none;
    color: rgb(54, 71, 71);
}

.catalog {
    padding: 20px;
}

.purchase-details {
    background-color: rgb(255, 255, 255);
    width: 360px;
    height: 700px;
    margin: 15px;
    padding: 15px;
}

/* ------------------------------------------------------------ */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .availability {

    padding: 0px 20px;
  }
/* ------------------------------------------------------------ */
  .main-content {
    display: flex;
    justify-content: center;
    padding: 15px 1px;
  }

  .card {
    display: flex;
    /* flex-direction: column;
    gap: 5px; */
    text-align: start;
    max-width: 240px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);

}

.cards {
    display: flex;
    gap: 10px;
    justify-content: right;
    
}


.card > h2 {
    text-align:start;
    justify-content: start;
    margin: 0px;
}

.favorites {
    display: flex;
    border: none;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    font-size: 30px;
}

.button-card {
    display: flex;
    gap: 40px;
    align-items: center;
    
}

.cart {
    background-color: rgb(255, 255, 255);
    border: 5%;
    border-color: rgb(86, 86, 86);
    border-radius: 3px;
    margin: 15px 15px;
    padding: 12px 22px;
}



.cards2 {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-top: 2%;
}

